<div *ngIf="isAlert" class="alert">
    <div *ngIf="!isError&&!isSaving">
        <p class="msg">{{alertMsg}}</p>
        <p class="ok" (click)="removeAlert()">Okay</p>
    </div>
    <div *ngIf="isError">
        <p class="wrongMsg">{{alertMsg}}</p>
        <p class="ok" (click)="removeAlert()">Okay</p>
    </div>
    <div *ngIf="isSaving">
        <p class="msg">{{alertMsg}}</p>
    </div>
</div>

<div class="home">
    <h1>Welcome to my App</h1>
    <div>
        <h3>Sign In to Continue</h3>
        <form (ngSubmit)="onSubmit()">
            <div>
                <label for="fName">First Name :</label>
                <input type="text" id="fName" name="fName" [(ngModel)]="formData.fName">
                <label for="fName">Last Name :</label>
                <input type="text" id="lName" name="lName" [(ngModel)]="formData.lName">
                <label for="user">Username :</label>
                <input type="text" id="user" name="user" [(ngModel)]='formData.user' required minlength="10"> 
                <label for="pass">Password :</label>
                <input type="password" name="pass" id="pass" [(ngModel)]="formData.pass">
            </div>
            <button type="submit">Register</button>
            <p>OR</p>
            <a routerLink="/login"> <p class="register">Login</p></a>
           
        </form>
    </div>
</div>